.qHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: white;
    width: 100%;
    position:sticky;
    box-shadow: 0px 4px 0px -1px rgb(7, 0, 0);
    
    
}
.qHeader_logo{

    height:70px;
    width:30px;
    margin-right: 100px;
    margin-left: 0px;
}
.qHeader_icons{
    display: flex;
    margin-right:30px;
    margin-top: 10px;
}
.qHeader_icon{
    background-color: rgba(252, 248, 246, 0);
    color: rgb(90, 87, 87);
    padding: 30px;
    font-size: x-large; 
}.qHeader_icon:hover{
    color: rgb(238, 66, 23);

}
.qHeader_input{
    display: flex;
    border-radius: 5px ;
    padding: 15px;
    margin-left: 20px;
    align-items: center;
    
    border-color:2px  seashell;
}
.qHeader_extra{
    display: flex;
    align-items: center;
    margin-left: 35px;
}
.qHeader_extra>.qHeader_ava{
    cursor: pointer;
}
.qHeader_extra>.MuiSvgIcon-root{
    color: rgb(154, 147, 197);
    margin-left: 10px;
    cursor: pointer;
    

}
.qHeader_extra>.MuiButton-root{
    color: rgb(238, 237, 248);
    margin-left: 10px;
    cursor: pointer;
    background-color:brown;
    border-radius: 5px;
}
.qHeader_extra>.MuiButton-root:hover{
    color: rgb(204, 32, 32);
    margin-left: 10px;
    cursor: pointer;

}