.post{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}
.post_info{
    display: flex;
    align-items: center;
}
.post_info>h5{
    margin-left: 10px;
    cursor: pointer;
    font-size: x-small;
}
.post_info>h5:hover{
    color: lime;
    text-decoration: underline;
}
.post_info>small{
    margin-left: 10px;
}
.post_img{
    
    margin-left: 100px;
    display: flex;
    padding: 10px;
    row-gap: 100px;
}
.post_body{
    display: flex;
    flex-direction: column;
}
.post_body>.post_que{
    margin: 10px 0px 10px 0px;
    text-decoration: underline bisque;
    display: flex;
    
}
.post_que>p:hover{
    background-color: blanchedalmond;
    color: chocolate;
}
.post_body>img{
    width: 75%;
    margin-left: 60px;
    border-radius: 5 px;
    cursor: pointer;
}
.post_que>.btn{
    margin-left: auto;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(118, 18, 248);
    border-radius: 40px;
    padding: 10px;
    
}
.btn:hover{
background-color: whitesmoke;
font-size: x-large;
color: yellowgreen;
}
.post_footer{
    display: flex;
    align-items: center;
margin-top:20px;
padding: 10px;

}
.post_footer>.MuiSvgIcon-root{
    margin-right: 40px;
    cursor: pointer;

}
.post_footer_act>.MuiSvgIcon-root{
    margin-right: 20px;
    cursor: pointer;
   background-color: burlywood;
color: rgb(10, 10, 9);
}
.post_footer_act{
    display: flex;
    
    
    margin-right: auto;
}
.post_footer_left{
    color: rgb(51, 47, 43);
}
.post_footer_left>.MuiSvgIcon-root{
    cursor: pointer;
    margin-right: 20px;
    background-color: burlywood;
}

