.quorabox{
    display: flex;
    flex-direction: column;
padding: 20px;
padding-right: 500px;
border:1px solid grey;
border-radius: 5px;
background-color: white;
border-spacing: 10px;
cursor: pointer;


}
.quorabox:hover{
    border:1px solid grey;
    background-color: rgb(241, 245, 250);
}
.quorabox_info{
    display: flex;
    align-items: center;
}
.quorabox_info>h5{
    color:rgb(129,129,129);
    font-weight: 400;
    margin-left: 10px;
}
.quorabox_quora>p{
    margin-top: 10px;
font-weight: bold;
}
