.sidebaropt{
    display: flex;
    flex-direction: column;
}
.sidebarop{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    
}
.sidebarop>img{
    height: 50px;
    padding: 10px;
}
.sidebarop>p{
    font-size: 15px;
}
.sidebarop:hover{
    background-color: lightgray;
}
